{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> Home Page - mysite </title>
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-lg">
      <img src="{% static 'images/stickynotes.jpg' %}" class="rounded-lg shadow-sm" alt="Notes" width="350" height="250">
    </div>
    <div class="col-lg">
      <img src="{% static 'images/stickynotes-1.jpg' %}" class="rounded-lg shadow-sm" alt="Notes" width="350" height="250">
    </div>
    <div class="col-lg">
      <img src="{% static 'images/stickynotes-2.jpg' %}" class="rounded-lg shadow-sm" alt="Notes" width="350" height="250">
    </div>
  </div>
  <div class="row mt-5">
      <div class="col-md-10 offset-md-1">
          <center>
          <p class="h1 text-primary">Quick and Easy to Use, AnyTime, AnyWhere!</p>
          <p class="h2">"Plan Your Day Better, Get Your Life Organized"</p>
          <p class="h5"> Mysite Lets You keep Track Of Your Tasks at One Place </p>
          <a href="{% url 'user:register' %}">
              <button type="button" class="btn btn-primary btn-lg mt-3 shadow">Let's Get Started</button>
          </a>
          </center>
      </div>
  </div>
</div>
{% endblock content %}
